body {
  background-color: #f0dbdb;
}

#card,
#front {
  border-radius: 20px;
  width: clamp(320px, 26.2vw, 500px);
  height: clamp(245px, 19.9vw, 380px);
}

#card {
  margin: 10% auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#inner {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#inner.flip {
  transform: rotateY(180deg);
}

#front,
#back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#front {
  background-color: #bca3af;
  cursor: pointer;
}
.title,
.receiver {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}
.title {
  margin: 20% 0 0;
  font-size: 20px;
  font-weight: 400;
}

.receiver {
  width: 100%;
  margin: 5% 0;
  font-size: 24px;
  font-weight: 700;
}

#front i {
  font-size: 20px;
}

#back {
  background-color: #e6d4cb;
  transform: rotateY(180deg);
}

#back.open .flap {
  transform: rotateX(-180deg); /* Rotate flap open smoothly */
  top: -100%;
}
.flap {
  position: absolute;
  top: 0;
  border-top: clamp(125px, 10vw, 190px) solid #d5b7b6;
  border-right: clamp(160px, 13.1vw, 250.5px) solid transparent;
  border-left: clamp(160px, 13.1vw, 250.5px) solid transparent;
  border-bottom: clamp(120px, 10vw, 190px) solid transparent;
  z-index: 1;
}

.flap-b {
  z-index: 1;
  border-top: clamp(125px, 10vw, 190px) solid transparent;
  border-right: clamp(160px, 13.1vw, 250.5px) solid #bca3af;
  border-left: clamp(160px, 13.1vw, 250.5px) solid #bca3af;
  border-bottom: clamp(120px, 10vw, 190px) solid #bca3af;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content-con {
  width: clamp(280px, 28.646vw, 550px);
  padding: 30px;
  text-align: justify;
  background-color: #e6d4cb;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 50px auto;
  overflow-y: scroll;
  animation: fadeIn 1s;
}

.content-con.hide {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transform {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.content-con .btn-con {
  width: 100%;
  margin: 30px 0 0;
  text-align: center;
}

button#btnclose {
  background-color: transparent;
  opacity: 0.7;
  border-radius: 100%;
  border: none;
  color: #b1a9b9;
  width: 30px;
  height: 30px;
  font-size: 24px;
}
.content.selected{
  display: block;
}

.content {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  display: none;
}
.content .header{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bca3af;
  margin-bottom: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0dbdb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.pagination{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin:30px 0 10px;
}

.pagination button{
  border: none;
  background-color: transparent;
  color: #bca3af;
  font-size: 24px;
}